@model IEnumerable<projetASP.Models.Etudiant>

@{
    ViewBag.Title = "Tous les etudiants";
    Layout = "~/Views/Shared/_DepartementLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Informatique</h4>
                    </div>
                    <div class="card-body table-responsive">

                        

                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>Cne</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Date de naissance</th>
                            <th>Note 1</th>
                            <th>Note 2</th>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    
                                }
                                else
                                {

                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.cne)
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nom)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.prenom)
                                            </td>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dateNaiss)
                                            </td>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.noteFstYear)
                                            </th>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.noteSndYear)
                                            </td>

                                            
                                        </tr>
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
           

        </div>
    </div>
</div>
