
@{
    Layout = "~/Views/Shared/_DepartementLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header " style="background:linear-gradient(to bottom, #B49082, #B49290, #544E61);">
                        <h2 class="card-title">Resultat de Recherche</h2>
                    </div>
                    <div class="card-body table-responsive">



                        <table class="table table-hover">
                            @if (ViewBag.error)
                            {
                                <tr><center>Etudiant not found</center></tr>
                            }
                            else
                            {
                                <thead style="color: #061323">
                                <th style="font-weight:bold">Cne</th>
                                <th style="font-weight:bold">Cin</th>
                                <th style="font-weight:bold">Nom</th>
                                <th style="font-weight:bold">Prenom</th>
                                <th style="font-weight:bold">Choix</th>
                                <th style="font-weight:bold">Note premiere annee</th>
                                <th style="font-weight:bold">Note deuxieme annee</th>
                                <th style="font-weight:bold">Note generale</th>

                                <th style="font-weight:bold">valide ?</th>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th>
                                            @Model.cne
                                        </th>
                                        <th>
                                            @Model.cin
                                        </th>
                                        <td>
                                            @Model.nom
                                        </td>
                                        <td>
                                            @Model.prenom
                                        </td>
                                        <th>
                                            @Model.choix
                                        </th>
                                        <td>
                                            @Model.noteFstYear
                                        </td>
                                        <th>
                                            @Model.noteSndYear
                                        </th>
                                        <th>
                                            @((Model.noteFstYear + Model.noteFstYear) / 2)
                                        </th>
                                        <td>
                                            @if (@Model.Validated)
                                            {
                                            <span>Oui</span>
                                            }
                                            else
                                            {
                                            <span>Non</span>
                                            }

                                        </td>


                                    </tr>
                                    

                                </tbody>
                            }
                            </table>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<div class="container-fluid" style="text-align:center;background-color:rgba(0,0,0,1);">Copyright © 2020 ENSA. All Rights Reserved.</div>