
@{
    /**/

    Layout = "~/Views/Shared/_DepartementLayout.cshtml";
}



<div class="content">
    <div class="container-fluid">
        <h2>
            <center>
                <i class="material-icons">timeline</i>
                Statistique des choix des Etudiants
            </center>

        </h2>
        <div class="row">
            <div class="card card-chart">
                    
                        <center><img src="@Url.Action("Chart")" class="col-xl-8 col-lg-8" /></center>
                    
            
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Industrie</p>
                        <h3 class="card-title">@ViewBag.indus</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>(@ViewBag.indusP)%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">procede</p>
                        <h3 class="card-title">@ViewBag.gpmc</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>(@ViewBag.gpmcP)%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Informatique</p>
                        <h3 class="card-title">@ViewBag.info</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i> (@ViewBag.infoP)%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Telecome</p>
                        <h3 class="card-title">@ViewBag.gtr</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i> (@ViewBag.gtrP)%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">list</i>
                        </div>
                        <p class="card-category">Pas encore</p>
                        <h3 class="card-title">@ViewBag.nbrReste</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>(@ViewBag.nbrResteP)%

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">list</i>
                        </div>
                        <p class="card-category">Nombre Totale</p>
                        <h3 class="card-title">@ViewBag.nbrTotal</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>(@ViewBag.nbrTotalP)%
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
